.ng-scope {
  margin-top: 0px; }

body {
  background-size: 100%;
  background-image: url("./pictures/bricks.png");
  background-position: 0 0;
  background-repeat: no-repeat; }

.biothing:active .bioListHtml {
  display: none; }

.topBar {
  background: -moz-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(155, 155, 155, 0.4)));
  background: -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -o-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -ms-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background-color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 450px) {
    .topBar {
      width: 15%;
      height: 100%; }
      .topBar .topBox {
        width: 100%;
        font-size: .8em;
        height: 15%;
        text-align: center; } }
  @media screen and (min-width: 451px) {
    .topBar {
      width: 100%;
      height: 10%; }
      .topBar .topBox {
        margin-top: 10px;
        float: left;
        width: 15%;
        height: 100%; }
      .topBar .nothing {
        width: 50%; } }

.dropList {
  list-style: none;
  position: absolute;
  top: -150px; }

.topBox:hover {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-top: 2%; }

.topBox:hover .dropList {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  background: -moz-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(155, 155, 155, 0.4)));
  background: -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -o-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: -ms-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background: radial-gradient(center, circle cover, rgba(255, 255, 255, 0.5) 0%, rgba(155, 155, 155, 0.4) 100%);
  background-color: rgba(255, 255, 255, 0.5);
  top: 10%;
  width: 100px;
  text-align: center; }

main.ng-scope {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-40%, -50%);
  margin-top: 30%; }

ng-view {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-40%, -50%);
  top: 60%; }

.bioListHtml {
  width: 100%;
  height: 100%;
  background: url("./pictures/wood.jpg") no-repeat;
  opacity: .75;
  position: absolute;
  color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }

.bioAttr {
  opacity: 1;
  width: 70%;
  position: absolute;
  margin-left: 0px;
  top: -40%;
  left: 5%;
  text-align: justify;
  font-size: .75em; }

.coreListHtml {
  width: 100%;
  height: 100%;
  background: url("./pictures/wood.jpg") no-repeat;
  opacity: .75;
  position: absolute;
  color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }

.coreAttr {
  opacity: 1;
  width: 70%;
  position: absolute;
  margin-left: 0px;
  top: -40%;
  left: 5%;
  text-align: justify;
  font-size: .75em; }

.devListHtml {
  width: 100%;
  height: 100%;
  background: url("./pictures/wood.jpg") no-repeat;
  opacity: .75;
  position: absolute;
  color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }

.devAttr {
  opacity: 1;
  width: 70%;
  position: absolute;
  margin-left: 0px;
  top: -40%;
  left: 5%;
  text-align: justify;
  font-size: .75em; }

.intListHtml {
  width: 100%;
  height: 100%;
  background: url("./pictures/wood.jpg") no-repeat;
  opacity: .75;
  position: absolute;
  color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }

.intAttr {
  opacity: 1;
  width: 70%;
  position: absolute;
  margin-left: 0px;
  top: -40%;
  left: 5%;
  text-align: justify;
  font-size: .75em; }

.initials {
  background: url("./pictures/tcc2.png") no-repeat;
  background-size: 100%;
  width: 25%;
  height: 35%; }
  .initials p {
    opacity: 0; }
  @media screen and (max-width: 450px) {
    .initials {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 25px; } }
  @media screen and (min-width: 451px) {
    .initials {
      margin: 0px;
      height: 50%; } }

.admin {
  position: absolute;
  font-size: .1em;
  right: 0px;
  bottom: 0px; }

/*# sourceMappingURL=style.css.map */
