<!DOCTYPE html>
<html ng-app="chickAppRegistration">
  <head>
    <meta charset="utf-8">
    <title>Tommy's secret page</title>

    <!-- package manager scripts -->

    <script type="text/javascript" src="../vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-google-chart/ng-google-chart.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="../scripts/app.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="../vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <div ng-controller="RegistrationController">

        <md-toolbar>
          <h1>Duplex Chick Rent Vs Buy Vs Buy Duplex</h1>
          <a href = "/views/login.html">Login Page</a>
        </md-toolbar>

          <!-- Keeps main content next to one another -->
          <div layout="column">
            <ng-include src="'/views/partials/registrationForm.html'"></ng-include>
          </div>
      </div>
  </body>
</html>
