<!DOCTYPE html>
<html ng-app="chickAppLogin">
  <head>
    <meta charset="utf-8">
    <title>Tommy Chester</title>

    <!-- package manager scripts -->

    <script type="text/javascript" src="../vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-google-chart/ng-google-chart.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="../scripts/app.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="../vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <h1>GO AWAY YOU AFE NOT SUPPOSED TO BE HERE</h1>
    <div ng-controller="LoginController">
      <div>


      </div>

          <h1>Tommy Chester</h1>
          <!-- <a href = "/views/admin.html">Admin Page</a>
          <a href = "/views/registration.html">Register New Admin</a> -->


          <!-- Keeps main content next to one another -->
          <div layout="column">
            <ng-include src="'/views/partials/loginForm.html'"></ng-include>
          </div>
      </div>
  </body>
</html>
